<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <ul>
        <h2>Places</h2>
        <p>Login before create a new Place</p>
        <button type="button" class="btn btn-success" routerLink="/crear/new" id="boton">Create a new business</button>
        <ng-container *ngFor="let lugar of lugares" class="list-group">
            <li class="list-group-item">
                <a routerLink="/crear/{{lugar.id}}"><h3>{{lugar.nombre}}</h3></a>
                <br />
                Creado: {{lugar.id | date:'mediumTime' | uppercase}}
                <p [innerHtml]="lugar.descripcion | linkifystr"></p>
            </li>
        </ng-container>
      </ul>
    </div>

  </div>
</div>  
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker  *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>