<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PlatziSquare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
<h2>
<button [disabled]="!listo" (click)="hacerAlgo()">Click me</button>
</h2>
<input type="text" placeholder="Tu nombre" [(ngModel)]="nombre">
<h3>mi nombre es {{nombre}}</h3>
<ul>
  <ng-container *ngFor="let lugar of lugares">
  <li *ngIf="lugar.active" >{{lugar.nombre}}</li>
  </ng-container>
</ul>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <ul>
        <h2>Lugares Cercanos</h2>
        <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania" class="list-group">
        <li class="list-group-item"  [ngStyle]="{color: (lugar.active) ? 'black' : 'blue'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" [appResaltar]="lugar.plan">{{lugar.nombre}}
          <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy cercano</span>
          <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
          <span *ngSwitchCase="3" [ngStyle]="{color: 'red '}">Lejos</span>
        </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>