<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to  {{ title }}!
  </h1>
  <h2>{{a+b}}</h2>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>
<button [disabled]="!listo" (click)="hacerAlgo()">Click me</button>
</h2>
<input type="text" placeholder="Tu nombre" [(ngModel)]="nombre">
<h3>mi nombre es {{nombre}}</h3>
<ul>
  <ng-container *ngFor="let lugar of lugares">
  <li *ngIf="lugar.active" >{{lugar.nombre}}</li>
  </ng-container>
</ul>
<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
  <li [ngStyle]="{color: (lugar.active) ? 'black' : 'blue'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" >{{lugar.nombre}}
    <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy cercano</span>
    <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
    <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejos</span>
  </li>
  </ng-container>
</ul>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>