<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a routerLink='/lugares/'>Places</a>/Create a Place</li>
  </ol>
</nav>

<div class="container">
  <form (ngSubmit)="guardarLugar(f)" #f="ngForm">
    <div class="form-group">
      <label><h5>Name</h5></label>
      <input type="text" class="form-control" [(ngModel)]="lugar.nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label><h5>Description  </h5></label>
      <textarea class="form-control" rows="3" [(ngModel)]="lugar.descripcion" name="descripcion" required> </textarea>
    </div>
    <br>
    <h2>Address</h2>
    <br>
    <div class="form-group">
      <label><h5>Street</h5></label>
      <input type="text" class="form-control" [(ngModel)]="lugar.calle" name="calle" required>
    </div>
    <div class="form-group">
      <label><h5>City</h5></label>
      <input type="text" class="form-control" [(ngModel)]="lugar.ciudad" name="ciudad" required>
    </div>
    <div class="form-group">
      <label><h5>Country</h5></label>
      <input type="text" class="form-control" [(ngModel)]="lugar.pais" name="pais" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="submit" class="btn btn-default" routerLink='/lugares'>Cancelar</button>
  </form>
  </div>